@media (orientation:landscape) {
    .sign-in-sign-up{
    
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 50px;
    }
}
@media (orientation:portrait) {
    .sign-in-sign-up{
    
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 50px;
    }
}