.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom:30px;
    margin-left:40px;
    margin-right:40px;
    
    .options{
        
        display: flex;
        flex-direction: row;
        align-items: center;
        
        .option{
            margin-right: 10px;
            text-decoration: none;
        }
    }
}